 
 body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
 
 
 
 
 .project-img {
      width: 100%;
      height: auto;
      border-radius: 5px;
      transition: transform 0.4s ease;
      height: 350px;
      object-fit: cover;
    }

    .project-img:hover {
      transform: scale(1.03);
    }

    .project-box {
      margin-bottom: 60px;
    }

    .project-content h5 {
      font-weight: 600;
      margin-bottom: 5px;
    }

    .project-meta {
      font-style: italic;
      color: #888;
      margin-bottom: 15px;
    }

    @media (max-width: 767px) {
      .project-box {
        flex-direction: column;
        text-align: center;
      }
    }

    /* -------------------------footer----------------------------- */
  .footer-section a {
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer-section a:hover {
  color: #ffc107;
}
.footer-section {
  background: url('../images/footer.webp') no-repeat center center/cover;
  position: relative;
  z-index: 1;
}

.footer-section .black-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.877); /* Adjust opacity here */
  z-index: 0;
}

.footer-section .container {
  position: relative;
  z-index: 2;
}